<div class="container">
	<h2><%= link_to archiving.title, archiving %></h2>

	<% if archiving.documents.any? %>
	 	
	 	<%= tag.h4 (archiving.documents.length).to_s + " Document".pluralize(archiving.documents.length), class: 'subtle' %>

	 <% end %>
</div>