<% if admin_user? %>

	<div class="admin control">
		<%#= link_to "Restore", restore_archiving_version_path(@archiving, @version), method: :patch %>
		<%= link_to "Hide", hide_archiving_version_path(@source, @version), method: :patch unless @version.hidden? %>
		<%= link_to "UnHide", unhide_archiving_version_path(@source, @version), method: :patch if @version.hidden? %>
		<%= link_to "Delete", archiving_version_path(@source, @version), method: :delete if @version.hidden? && untrashed_user? %>
	</div>

<% end %>