<% if admin_user? %>

	<div class="admin control">
		<%= link_to "Trashed Archivings", trashed_archivings_path %>

		<%= link_to "New Archiving", new_archiving_path if untrashed_user? %>
	</div>

<% end %>

<main>
	<%= (render @archivings) || (tag.h2 "There isn't anything here...") %>
</main>