<% content_for :header_extension do %>
	/ <%= link_to "Archives", archivings_path %>
	/ <%= link_to "Trash", trashed_archivings_path %>
<% end %>

<main>
	<%= (render @archivings) || (tag.h2 "There isn't anything here...") %>
</main>