<div class="container<%= " motd" if blog_post.motd? %>">

	<h2><%= link_to blog_post.title, blog_post_path( blog_post ) %></h2>

	<% if blog_post.subtitle %>

		<h3><%= blog_post.subtitle %></h3>

	<% end %>

	<% if blog_post.edited? %>

		<h5 class="subtle">edited</h5>

	<% end %>

</div>