<% if admin_user? %>
	<nav class="admin post_control">
		<%= link_to "New Post", new_blog_post_path %>
	</nav>
<% end %>
<main>
	<% if @blog_posts.empty? %>
		<h2>There isn't anything here...</h2>
	<% end %>

	<% @blog_posts.each do |blog_post| %>
		<h2><%= link_to blog_post.title, blog_post_path( blog_post ) %></h2>
		<% if blog_post.subtitle %>
			<h3><%= blog_post.subtitle %></h3>
		<% end # Can I condense this? %>
	<% end %>
</main>