<% content_for :header_extension do %>
	/ <%= link_to "Blogs", blog_posts_path %>
<% end %>

<% if admin_user? %>

	<div class="admin control">
		<%= link_to "Trashed Posts", trashed_blog_posts_path %>

		<%= link_to "New Post", new_blog_post_path unless trashed_user? %>
	</div>

<% end %>

<main>
	<%= (render @blog_posts) || (tag.h2 "There isn't anything here...") %>
</main>