<%= link_to user, class: container_class(user) do %>
	<%= render 'avatar', user: user, size: :thumb %>

	<h2><%= user.name %></h2>

	<%= render 'shared/timestamps', object: user, activity: true %>
<% end %>