<% content_for :header_extension do %>
	/ <%= link_to "Users", users_path %>
<% end %>

<div class="<%= ( admin_user? ) ? "admin " : "" %>control">
	<%= link_to "Trashed Users", trashed_users_path %>
</div>

<main>
	<%= (render @users) || (tag.h2 "There's no one here...") %>
</main>