<% if ( [Archiving, BlogPost].include?(object.class) && object.documents.any? ) || ( [BlogPost, ForumPost, Suggestion].include?(object.class) && object.comments.any? ) %>
	
	<h4 class="subtle right">
		<% if [Archiving, BlogPost].include?(object.class) && object.documents.any? %>
			
			<%= (object.documents.length).to_s + " Document".pluralize(object.documents.length) %>

		<% end %>

		<% if [BlogPost, ForumPost, Suggestion].include?(object.class) && object.comments.any?(&:persisted?) %>

			<%= ( object.comments.length - ((new_comment ||= nil) ? 1 : 0 ) ).to_s + " Comment".pluralize(object.comments.length) %>

		<% end %>
	</h4>

<% end %>