<h2>Currently building this website.</h2>
<p>
	This is the future home of all my endeavors to research, organize, and publicize work related to anything of telepathic nature.  This is an ongoing project, and there will no doubt be many changes around here as I gain new skills and understanding along the way.  However, this project will remain as open as safely possible with all of its history preserved for authenticity.
</p>
<p>
	The website is nearing completion now, with only minor tweaks and a design process left to complete.  The core framework of the server is mostly supported by unit tests now, and everything will run much smoother now.  The <%= link_to "Archive", archivings_path %> is functionally complete and ready for population.  However, the goal of this project has shifted to something more ambitious and practical to my direction of research.  This involves another field of science entirely and will be on the horizon for a while.  You can expect to see all future info on this project here.
</p>
<p>
	More things on the way.  Check out the
	<%= link_to "Blog", blog_posts_path %>
	for updates.
</p>