<% if @blog_posts.any? %>
	
	<h1>Recent on the Blog</h1>

	<%= render @blog_posts if @blog_posts.any? %>

<% end %>

<% if @forum_posts.any? %>
	
	<h1>Recent on the Forums</h1>

	<%= render @forum_posts if @forum_posts.any? %>

<% end %>