<% if @blog_recents.any? %>
	
	<h1>Recent on the Blog</h1>

	<%= (render partial: 'blog_posts/blog_post', collection: @blog_recents) if @blog_recents.any? %>

<% end %>

<% if @forum_recents.any? %>
	
	<h1>Recent on the Forums</h1>

	<%= (render partial: 'forum_posts/forum_post', collection: @forum_recents) if @forum_recents.any? %>

<% end %>