<h2>Welcome to the Telepathy.dev Project</h2>

<p>
	This is a website dedicated to the research and verification of telepathy as an integral construct of vocal human language.
</p>

<p>
	Above, you may find sections for the developer Blog, research Archive, and user Forum.
</p>

<p>
	Even as a solo endeavor, this project is very much open and active.  <!--As far as I know, no one seeks to legitimately document telepathy as definitive aspect within the known range of speech.  But, if you have any input or help to offer, I will gladly update this section and bring you on board.-->  It has become my biggest priority to establish the validity of this website as a proper foundation before moving forward with research.  This is not a joke, so I hope you'll see the value in contributing to an honest effort so crucially overlooked, a few words here cannot do it justice.  Any feedback is greatly appreciated while I try to get this off the ground.
</p>