<h2>Currently building this website.</h2>
<p>
	This is the future home of all my endeavors to research, organize, and publicize work related to telepathy and it's ultimate exposition.  This is an ongoing project, and there will no doubt be many changes around here, as I gain new understanding and skills along the way.  However, this project will remain completely open with all of its history preserved for authenticity.
</p>
<p>
	Also check out the newly implemented Authentication features with user signup, login, and logout functionality.  More features on the way.  Keep track of my progress with the Rails framework @<a href="https://github.com/brendaneus/the_odin_project" target="_blank">GitHub</a>.
</p>