<h2>Currently building this website.</h2>
<p>
	This is the future home of all my endeavors to research, organize, and publicize work related to anything of telepathic nature.  This is an ongoing project, and there will no doubt be many changes around here as I gain new understanding and skills along the way.  However, this project will remain as open as safely possible with all of its history preserved for authenticity.
</p>
<p>
	Also check out the newly implemented Authentication features with user signup, login, and logout functionality.  More things on the way.  Check out the
	<%= link_to "Blog", blog_path %>
	for more updates, or keep track of my progress with the Rails framework @<a href="https://github.com/brendaneus/the_odin_project" target="_blank">GitHub</a>.
</p>