<%= link_to forum_post, class: container_class(forum_post) do %>
	<%#= render 'users/avatar', user: forum_post.user, size: :thumb %>

	<h2><%= forum_post.title %></h2>

	<%= render 'shared/details', object: forum_post %>

	<%= render 'shared/timestamps', object: forum_post, owned: true %>
<% end %>