<% if logged_in? %>

	<nav class="post_control">
		<%= link_to "New Post", new_forum_post_path %>
	</nav>

<% end %>

<%= render partial: 'forum_post', collection: @sticky_posts %>

<%= (render @forum_posts) || (tag.h2 "There isn't anything here...") %>