<% if logged_in? %>

	<nav class="post_control">
		<%= link_to "New Post", new_forum_post_path %>
	</nav>

<% end %>

<% if @sticky_posts.any? || @forum_posts.any? %>

	<%= render partial: 'forum_post', collection: @sticky_posts %>

	<%= render @forum_posts %>

<% else %>

	<%= tag.h2 "There isn't anything here..." %>

<% end %>