* {
	/* border: thin solid black */
}


/* Nav Bar */

nav {
	padding: 5px;
	border-top: medium solid black;
	border-bottom: medium solid black;
	margin: 5px auto;
	a {
		display: inline-block;
		list-style: none;
		padding: 5px;
	}
	.status_control {
		display: inline-block;
		float: right;
	}
}


/* Base */

.subtle {
	font-style: italic;
	color: #999;
}


/* Blog & Posts */

.container {
	padding: 5px;
	border: thin solid black;
	margin: 5px 0px;
	&.admin {
		border: medium solid red;
	}
	&.owned {
		border: medium solid blue;
	}
	&.motd {
		border: medium solid green;
	}
	&.sticky {
		border: medium solid orange;
	}
	&.trashed {
		background: #ddd;
	}
}


/* Forms */

form {
	div {
		margin: 5px 0px;
	}
	.check_box * {
		display: inline-block;
	}
	.submit {
		display: block;
	}
}

/* Model Control */

.control {
	display: inline-block;
	padding: 5px;
	border: thin solid blue;
	background-color: #eef;
	&.admin {
		border: thin solid red;
		background-color: #fee;
	}
}