* {
	/* border: thin solid black */
}


/* Nav Bar */

nav {
	padding: 5px;
	border-top: medium solid black;
	border-bottom: medium solid black;
	margin: 5px auto;
	a {
		list-style: none;
		padding: 5px;
		vertical-align: middle;
		display: inline-block;
	}
	.status_control {
		float: right;
		display: inline-block;
		a.avatar {
			padding: 0;
			border-radius: 25%;
			img {
				background-color: black;
				border-radius: 25%;
				vertical-align: middle;
				display: inline-block;
			}
			&:hover {
				opacity: 0.7;
			}
		}
	}

}


/* Base */

.subtle {
	font-style: italic;
	color: #999;
	&.right {
		float: right;
	}
}


/* Blog & Posts */

.container {
	padding: 5px;
	border: thin solid black;
	margin: 5px 0px;
	display: block;
	h4 {
		margin: 0;
	}
	.avatar {
		float: left;
		padding: 5px;
		img {
			vertical-align: middle;
		}
	}
	.upload {
		padding: 5px;
		&.thumb {
			float: right;
		}
		img {
			vertical-align: middle;
		}
	}
	&.admin {
		border: medium solid red;
	}
	&.owned {
		border: medium solid blue;
	}
	&.motd {
		border: medium solid green;
	}
	&.sticky {
		border: medium solid orange;
	}
	&.trashed {
		background: #ddd;
		&:hover {
			background: #222;
		}
	}
}


/* Forms */

form {
	div {
		margin: 5px 0px;
	}
	.check_box * {
		display: inline-block;
	}
	.submit {
		display: block;
	}
}

/* Model Control */

.control {
	display: inline-block;
	padding: 5px;
	border: thin solid blue;
	background-color: #eef;
	&.admin {
		border: thin solid red;
		background-color: #fee;
	}
}